/*  Nav-bar CSS */
.my-color{
	color:white;
	font-family:Lobster;
}

.circleimage{
  margin:20px auto;
	width: 200px;
	height:200px;
	border-radius:50%;
  border:2px solid #64ffda;
}

.navcolor,footer{
  background-color:#424242;
  padding: 75px;
}

.icon-color{
  color:#64ffda;
}

/*  Body Content CSS  */
body{
  background-color:#e0e0e0;
}

h1{
  font-family: Lobster;

}

h2,h3{
  color:#64ffda;
  font-family: Lobster;
}
li{
  font-family: Lora;
  list-style-type: none;
  color: whitesmoke;
  font-size: 15px;
}

p{
  font-family: Lora;
  color:whitesmoke;
  font-size: 15px;
}

.thumbnail{
   background-color:#424242;
   border:2px solid #64ffda;
   height: 700px;
}

.circlecompany{
  margin:20px auto;
  width: 70px;
  height:70px;
  border-radius:50%;
  border:2px solid #64ffda;
}
.circlecompany:hover{
  opacity: 0.6;
}

.footer-pad{
  padding-bottom: 100px;;
}




